@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #0A0A1A;
  --color-primary: #0D2DA2;
  --color-primary-content: #ffffff;
  --color-secondary: #8DE3FF;
  --color-secondary-content: #0D2DA2;
  --color-accent: #EAE38F;
  --color-accent-content: #0A0A1A;
  --color-neutral: #0A0A1A;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@font-face {
  font-family: 'Blanka';
  src: url('/assets/fonts/Blanka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #0D2DA2;
  --font-blanka: 'Blanka';
}

::-webkit-scrollbar {
  width: 8px;  
}
::-webkit-scrollbar-track {
  background: transparent;
}


.nano-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.nano-scrollbar::-webkit-scrollbar-track {
  background: oklch(100% 0 0);
}

.nano-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0D2DA2;
  border-radius: 6px;
  border: 2px solid transparent;
}

/* Firefox */
.nano-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0D2DA2 oklch(100% 0 0);
}